.btn-st, .btn-st:hover{
    background-color: #b5c2c7;
    border-color: #637a84;
    color: #637a84;
}

svg.goButton:active{
    fill:grey
}

#scrollMessage{
    position: sticky;
    bottom: 0;
    text-align: center;
    font-size: 0.8rem;
    background-color: rgba(222, 232, 231, 0.675);
    margin-left: auto;
}